body {
	font-size: 16px;
	color: #000;
	background: #fff;
}

.btn {
	border: none;
}

img {
	width: 100%;
	height: auto;
}

.navbar {
	background: rgba(0,0,0,0.6);
	height: 80px;
}

.navbar-inverse {
	background: #ececec;
	color: #333;
}

.navbar-brand {
	margin-top: 10px;
	font-weight: bold;
	font-size: 32px;
	color: #fff;	
}

a.navbar-brand:hover {
	color: #fff;
}

div.navbar-header i {
	color: #c9302c;
}

.navbar-form {
	margin-top: 25px;
}

.nav-pills {
	margin-top: 18px;
}

.jumbotron {
	position: relative;
	height: 460px;
	background-image: url(../img/hero.jpg);
}

.jumbotron h2 {
	color: #ececec;
	padding: 10px 15px;	
}

.search-form {
	position: absolute;
	top: 40%;
}

.search-form input[type="search"] {
	min-width: 300px;	
	margin-right: 5px;
}

.container-bg {
	background: rgba(0,0,0,0.40);	
	padding: 0 30px 20px 30px;
	width: 440px;	
}

.container-bg h2 {
	margin-left: 0;
	padding-left: 0;
}

aside.sign-up {
	margin-top: 3em;
}

aside.sign-up h3 {
	color: #266a92;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	font-size: 1.4em;
	font-weight: bold;
}

.sign-up {
	background: #ececec;
	padding: 20px 10px;
}

div.item {
	color: #ececec;
	background: #266a92;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 30px;
-webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.15);
-moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.15);
box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.15);
}

div.item > span {
	position: absolute;
	top: 55%;
	left: 40%;
	background: #266a92;
	padding: 15px;
	border-radius: 60px;
}

div.item > img {
	width: 100%;
}

div.item p {
	margin-top: 1.5em;
	padding: 0 10px;
	font-size: 0.8em;
	font-weight: 200;
}

div.item h4 {
	padding: 0 10px;
	letter-spacing: 1px;
	z-index: 1000;
}

.sortable {
	margin-bottom: 10px;
}

.item a {
	margin: 0 10px;
	width: 90%
}

.page-title {
	height: 60px;
	margin: 80px 0 30px 0;
	background: #333;
}

.page-title h2 {
	color: #ececec;
	margin-top: 13px;
}

div.catagories {
	background: #ececec;
}

div.catagories.col-md-3 {
	padding-left: 0;
	padding-right: 0;
}

.catagories h3 {
	background: #266a92;
	margin: 0;
	padding: 10px;
	color: #ececec;
}

ul.nav-stacked li a {
	padding: 5px 0 5px 10px;
}

ul.nav-stacked li a:hover {
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
	background: #266a92;
	color: #ececec;
}

img.post-image {
	width: 100%;
	height: auto;
}

footer {
	background: #333;
	height: 80px;
	padding: 35px 15px 0;
}

footer ul li {
	display: inline-block;
	float: left;
	font-size: 14px;
	color: #ececec;
}

footer ul li a {
	padding-right: 15px;
}

footer p {
	font-size: 14px;
	color: #ececec;	
}

.details {
	margin-top: 50px;
	background: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .item {
    min-height: 300px;
  }
  span.plus {
	  display: none;
	  color: transparent;
  }
  .item a {
  	position: absolute;
	  bottom: 10px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
	span.plus {
		display: none;
		color: transparent;
	}
}

